.header_container h1 {
  font-size: 50px;
  margin: 2rem;
  background: -webkit-linear-gradient(
    55deg,
    rgb(156, 14, 156),
    rgb(223, 59, 59)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_container h3 {
  font-size: 25px;
  margin: 2rem;
  background: -webkit-linear-gradient(
    55deg,
    rgb(40, 14, 156),
    rgb(138, 223, 59)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_container h1,
h3 {
  text-align: center;
}
.carousel{
  margin: 3rem;
  /* padding: 3rem; */
}
.carousel-caption {
  border: solid;
  background-color: rgb(233, 14, 14, 0.4);
  border-radius: 10px;
  
}

.carousel-caption h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
    /* padding-top:0rem; */
}

@media only screen and (max-width:1100px) {
  .carousel-caption {
    width: 30%;
    margin-left: 8rem;
    margin-bottom: 1rem;
    
  }
  .carousel-caption h3{
    font-size: 13.5px;
    color: rgb(255, 255, 255);
    
}
}