.start_project{
    background-color: red;
    display: flex;
    float: left;
    width:100%;
    padding: 2rem;

}

.start_project h1{
    color: white;
    width:100%;
    padding: 2rem;
}

.start_project input{
    /* height: 20px; */
    width:20%;
    align-self: center;
    /* padding: 2rem; */
}

@media only screen and (max-width:1100px){
    .start_project h1{
        font-size: 12px;
        /* border: solid; */
        padding: 0rem;
        width: 50%;
    }
    .project_button{
        font-size: 6px;
        width:2rem; 
        margin-left: 2rem;
        padding: 0rem;
    }

}

